@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#020617,#081028,#0f172a);
color:white;
}

.navbar{
background:#081028;
padding:20px;
text-align:center;
border-bottom:1px solid rgba(0,255,136,.2);
}

.logo{
font-size:42px;
font-weight:700;
margin-bottom:18px;
}

.logo span{
color:#00ff88;
}

.menu{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.menu a{
color:white;
text-decoration:none;
font-size:22px;
}

.menu a:hover,
.menu .active{
color:#00ff88;
}

.hero{
text-align:center;
padding:60px 20px;
}

.profile{
width:220px;
height:220px;
border-radius:50%;
object-fit:cover;
border:5px solid #00ff88;
box-shadow:0 0 30px rgba(0,255,136,.6);
margin-bottom:25px;
}

.hero h1{
font-size:55px;
margin-bottom:20px;
}

.stats{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-bottom:30px;
}

.stats div{
background:#0f172a;
padding:15px 20px;
border-radius:10px;
border:1px solid #00ff88;
}

.about{
max-width:850px;
margin:auto;
line-height:1.9;
color:#d1d5db;
font-size:18px;
}

.buttons{
margin-top:30px;
}

.btn{
    display:inline-block;
    background:#00ff88;
    color:#000000;
    padding:15px 30px;
    text-decoration:none;
    border-radius:10px;
    font-size:18px;
    font-weight:600;
}

.btn-outline{
display:inline-block;
padding:15px 30px;
border:2px solid #00ff88;
color:#00ff88;
text-decoration:none;
border-radius:10px;
margin:10px;
}

.portfolio{
padding:50px 20px;
text-align:center;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
margin-top:30px;
}

.gallery img{
width:100%;
border-radius:15px;
}

.contact{
padding:60px 20px;
display:flex;
justify-content:center;
}

.contact-card{
background:#0f172a;
padding:40px;
border-radius:20px;
border:1px solid #00ff88;
text-align:center;
max-width:500px;
width:100%;
}

.contact-card p{
margin:20px 0;
font-size:18px;
}

.social{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
padding:30px;
}

.social a{
text-decoration:none;
color:#00ff88;
border:2px solid #00ff88;
padding:12px 24px;
border-radius:10px;
}

footer{
text-align:center;
padding:25px;
background:#081028;
margin-top:30px;
}

@media(max-width:768px){

.logo{
font-size:34px;
}

.menu{
gap:25px;
}

.menu a{
font-size:20px;
}

.hero h1{
font-size:42px;
}

.profile{
width:180px;
height:180px;
}
}